<% content_for :page_title do %>
  Google Trusted Store Settings
<% end %>

<%= form_for @google_trusted_store_setting, url: spree.admin_spree_google_trusted_store_setting_path(@google_trusted_store_setting) do |f| %>
  <div class='form-group'>
    <div class='form-group'>
      <%= f.text_field :account_id %>
    </div>
    <div class='form-group'>
      <%= f.text_field :default_locale %>
    </div>
  </div>
<% end %>
