<table class='index'>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% google_product.format(error_method).each do |error| %>
      <tr class='<%= cycle("odd", "even") %>'>
          <td class='align-center'><%= error[:reason] %></td>
          <td class='align-center'><%= error[:message] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
